.title{
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.title h1{
  font-size: 3rem;
  font-family: fantasy;
  color: white;
}

.picture_table{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

picture-list{
  width: 95%;
}

.add_button{
  width: 90%;
  display: flex;
  justify-content: end;
  margin-bottom: 1rem;
}

.add_button button{
  height: 3rem;
  font-size: 1.2rem;
}
